# Environments
env/
venv/
.env

# Python/Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
media/
static/

# Node/React
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db